:root {
  --white: #fff;
  --black: #000;
  --dark-grey: #666;
  /* Font weight */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;

  /* Font styling */
  --tight: 0px;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  margin: 0 40px;
}

#header {
  left: 0;
  padding: 40px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.header__brand {
  color: var(--white);
  font-weight: var(--semibold);
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Contents */
.section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  z-index: 2;
}

/* Mountain name */
.mountain__location, .mountain__city, .mountain__description {
  color: var(--white);
  --animate-duration: 1s;
} 
.mountain__divider {
  background: var(--white);
  height: 3px;
  margin-bottom: 8px;
  width: 50px;
}
.mountain__city {
  font-size: 20px;
  font-weight: var(--medium);
  letter-spacing: 3px;
  line-height: 175%;
  text-transform: uppercase;
}
.mountain__location {
  font-size: 96px;
  font-weight: var(--extrabold);
  letter-spacing: 3px;
  line-height: 131px;
  text-transform: uppercase;
}
.mountain__description {
  font-weight: var(--regular);
  line-height: 1.75;
  width: 57ch;
}

/* Footer */
#footer {
  bottom: 0;
  color: var(--white);
  left: 0;
  padding: 40px 0;
  position: fixed;
  width: 100%;
}

.footer__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__copy a, .footer__social a {
  color: rgb(255, 255, 255, 0.65);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer__copy a:hover, .footer__social a:hover {
  color: rgb(255, 255, 255, 1);
}

.footer__social .social__item {
  margin-right: 16px;
}
.footer__social .social__item:last-child {
  margin-right: 0;
}